.imageRobot {
    position: relative;
    width: 70%;
    left: 20%;
    top: 12%;
}

h1 {
    color: black;
    position: relative;
    font-size: 1.7em;
    font-weight: bold;
    right: 20%;
    margin-top: 16%;
}

h5 {
    color: black;
    position: relative;
    font-size: 0.9em;
    font-weight: bold;
    right: 10%;
}

