ion-card {
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    height: 100%;
}

.messageRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.messageCol {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    max-width: 60%;
}

.message__timestamp {
    font-size: 10px;
    margin-bottom: -2%;
    color: rgb(0, 0, 0);
    text-align: right;
  }
